<div class="max-w-4xl mx-auto p-4">
  <app-product-row
    *ngFor="let row of productRows; let i = index"
    (productAdded)="onProductAdded($event, i)"
  ></app-product-row>

  <button
    (click)="showOrder()"
    class="bg-blue-500 text-white p-2 rounded-md mt-14 mb-6 hover:bg-green-600 transition duration-200"
  >
    Show Order
  </button>

  <div *ngIf="showOrderSummary" class="mt-4">
    <table class="w-full table-auto text-left border border-gray-300 mt-2">
      <thead class="text-black">
        <tr>
          <th class="px-4 py-2 border">Product Name</th>
          <th class="px-4 py-2 border">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order">
          <td class="border px-4 py-2">{{ item.product }}</td>
          <td class="border px-4 py-2">{{ item.quantity }}</td>
        </tr>
      </tbody>
    </table>

    <button
      (click)="readOrder()"
      class="bg-blue-500 text-white p-2 rounded-md mt-14 hover:bg-blue-600 transition duration-200"
    >
      What is my Order?
    </button>
  </div>
</div>
